---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Eventos" sideBarActiveItemID="eventos">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Pr贸ximos eventos</div>
  </div>

  <HorizontalCard
    title="Reuni贸n fundacional de la Asociaci贸n"
    img="/reunion.webp"
    desc="A mediados de septiembre de 2024 (fecha por definir) se crear谩 la primera reuni贸n oficial de la Asociaci贸n donde se aprobar谩 la primara acta fundacional."
    url="#"
    badge="On-line"
  />
  <HorizontalCard
    title="Presentaci贸n Asociaci贸n"
    img="/evento.webp"
    desc="A principios de noviembre de 2024 se presentar谩 la asociaci贸n a instituciones y prensa con un evento donde se hablar谩 de los prop贸sitos y objetivos de esta nueva asociaci贸n."
    url="#"
    badge="Por definir"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Eventos Pasados</div>
  </div>

  <HorizontalCard
    title="Segunda Kickoff (19/08/2024)"
    img="/reunion_agosto.webp"
    desc="Buenas comunidad! Segunda Reuni贸n General completada  Ya tenemos los equipos de trabajo creados y asignados, ahora toca currar para sacar los objetivos del roadmap que nos hemos puesto a corto plazo  echadle un vistazo de como va cambiando el tablero de organizaci贸n  Tambi茅n estrenamos Discord para una comunicaci贸n m谩s estructurada y organizaci贸n de los eventos como el de ayer por ese nuevo canal  os animamos a todos a participar en la pr贸xima reu dentro de 2-3 semanas, son bienvenidas todas las ideas y hay muchas formas de colaborar, os esperamos! "
    url="#"
    badge="Finalizada"
  />
  <HorizontalCard
    title="Primera Kickoff completada  (23/07/2024)"
    img="/reunion_julio.webp"
    desc="La semana pasada tuvimos nuestra primera reuni贸n como asociaci贸n donde estuvimos present谩ndonos y viendo las primeras acciones que acometer, como formalizarnos oficialmente como Asociaci贸n  Os dejamos por aqu铆 el board que seguimos por encima para que le ech茅is un vistazo, por supuesto sentiros libres de participar y aportar cualquier idea o colaboraci贸n que se os ocurra  Os esperamos por nuestro Telegram!"
    url="#"
    badge="Community Call"
  />
</BaseLayout>
