---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1"> Impulsando la Innovaci贸n Digital y Tecnol贸gica de CLM </div>
    <div class="text-5xl font-bold">Asociaci贸n BlockChain</div>
    <div class="text-3xl py-3 font-bold">de Castilla la Mancha</div>
    <div class="py-2">
      <text class="text-lg">
        La Asociaci贸n Blockchain de Castilla-La Mancha es una organizaci贸n sin 谩nimo de lucro dedicada a promover y desarrollar la tecnolog铆a blockchain en la regi贸n. Nuestra misi贸n es fomentar la adopci贸n de esta tecnolog铆a revolucionaria a trav茅s de diversas iniciativas y actividades. Nos enfocamos en tres pilares fundamentales:
        Educaci贸n y Capacitaci贸n, Colaboraci贸n y Networking e Innovaci贸n y Apoyo a Startups.
      </text>
    </div>
      <div class="py-2">
      <text class="text-lg">
     nete a nosotros y s茅 parte del futuro tecnol贸gico de Castilla-La Mancha. Juntos, podemos transformar industrias, mejorar procesos y crear un impacto positivo en la sociedad. 
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://t.me/+4QeI7xwu-0Q0ZTg0" target="_blank"> 锔 Conecta con la comunidad!</a>
      <a href="https://forms.gle/TnNNrcznBzidkKdX6" target="_blank" class="btn btn-outline ml-5">
        Hazte Socio
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2"> Pr贸ximos eventos</div>
  </div>

  <HorizontalCard
  title="Reuni贸n fundacional de la Asociaci贸n"
  img="/reunion.webp"
  desc="A mediados de septiembre de 2024 (fecha por definir) se creara la primera reuni贸n oficial de la Asociaci贸n donde se aprobara la primara acta fundacional."
  url="#"
  badge="On-line"
/>
<HorizontalCard
  title="Presentaci贸n Asociaci贸n"
  img="/evento.webp"
  desc="A principios de noviembre de 2024 se presentar谩 la asociaci贸n a instituciones y prensa con un evento donde se hablara de los propositos y objetivos de esta nueva asociaci贸n."
  url="#"
  badge="Por definir"
/>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">ltimas entradas del Blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
      </>
    ))
  }
</BaseLayout>
